<div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <p>{{ totalWastePickers }}</p>
            <h2>Total Waste Pickers</h2>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <p>{{ totalSortingAreas }}</p>
            <h2>Sorting Areas</h2>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <p>{{ totalMunicipalities }}</p>
            <h2>Municipalities</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="mt-4" id="divBarChart"></div>
      </div>
      <div class="col-4">
        <div class="mt-4" id="divDocumentTypeBarChart"></div>
      </div>
      <div class="col-4">
        <div class="mt-4" id="divRacePieChart"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div id="wastePickersPerMunicipalityChart" style="height: 400px;"></div>
      </div>
    </div>
</div>
  