
<div class="row">
    <div class="col-12 mt-2">
         <ag-grid-angular
            style="width: 100%; top:5px; height: 600px"
            class="ag-theme-alpine"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [pagination]="true"
            [paginationPageSize]="20"
            (gridReady)="onGridReady($event)"
            (cellClicked)="onCellClicked($event)"
            [suppressClickEdit]="true"
            >
        </ag-grid-angular>
    </div>
</div>
