<div *ngIf="wastePicker">
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-12 mt-3">
        <div class="card">
          <div class="card-header header text-white">
            <h5 class="fw-bold mb-0">Waste Picker Details</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <!-- Each data field is wrapped in a col-4 for better alignment -->
              <div class="col-md-4 mb-3">
                <p class="mb-1"><span class="fw-bold">First Name</span>: {{wastePicker.firstName}}</p>
              </div>
              <div class="col-md-4 mb-3">
                <p class="mb-1"><span class="fw-bold">Last Name</span>: {{wastePicker.lastName}}</p>
              </div>
              <div class="col-md-4 mb-3">
                <p class="mb-1"><span class="fw-bold">Date Of Birth</span>: {{wastePicker.dob}}</p>
              </div>
            </div>
            <div class="row">
              <!-- Each data field is wrapped in a col-4 for better alignment -->
              <div class="col-md-4 mb-3">
                <p class="mb-1"><span class="fw-bold">Identity Number</span>: {{wastePicker.identityNumber}}</p>
              </div>
              <div class="col-md-4 mb-3">
                <p class="mb-1"><span class="fw-bold">Other Identity Number</span>: {{wastePicker.otherIdentityNumber}}</p>
              </div>
              <div class="col-md-4 mb-3">
                <p class="mb-1"><span class="fw-bold">Age</span>: {{wastePicker.age}}</p>
              </div>
            </div>
            <div class="row">
              <!-- Each data field is wrapped in a col-4 for better alignment -->
              <div class="col-md-4 mb-3">
                <p class="mb-1"><span class="fw-bold">Gender</span>: {{wastePicker.gender}}</p>
              </div>
              <div class="col-md-4 mb-3">
                <p class="mb-1"><span class="fw-bold">Race</span>: {{wastePicker.race}}</p>
              </div>
              <div class="col-md-4 mb-3">
                <p class="mb-1"><span class="fw-bold">Status</span>: {{wastePicker.wastePickerStatus}}</p>
              </div>
            </div>
            <div class="row">
              <!-- Each data field is wrapped in a col-4 for better alignment -->
              <div class="col-md-4 mb-3">
                <p class="mb-1"><span class="fw-bold">Registration Location</span>: {{wastePicker.gender}}</p>
              </div>
              <div class="col-md-4 mb-3">
                <p class="mb-1"><span class="fw-bold">Cooperative</span>: {{wastePicker.cooperative}}</p>
              </div>
              <div class="col-md-4 mb-3">
                <p class="mb-1"><span class="fw-bold">IsMemberCooperative?</span>: {{wastePicker.isMemberCooperative}}</p>
              </div>
            </div>
            <div class="row">
              <!-- Each data field is wrapped in a col-4 for better alignment -->
              <div class="col-md-4 mb-3">
                <p class="mb-1"><span class="fw-bold">WastePicker Number</span>: {{wastePicker.wastePickerNo}}</p>
              </div>
              <div class="col-md-4 mb-3">
                <p class="mb-1"><span class="fw-bold">Comment</span>: {{wastePicker.comment}}</p>
              </div>
              <div class="col-md-4 mb-3">
                <p class="mb-1"><span class="fw-bold">Created By</span>: {{wastePicker.createdBy}}</p>
              </div>
            </div>
            <div class="row">
              <!-- Each data field is wrapped in a col-4 for better alignment -->
              <div class="col-md-4 mb-3">
                <p class="mb-1"><span class="fw-bold">Cellphone Number</span>: {{wastePicker.cellphoneNo}}</p>
              </div>
              <div class="col-md-4 mb-3">
                <p class="mb-1"><span class="fw-bold">Other Cellphone Number</span>: {{wastePicker.altCellphoneNo}}</p>
              </div>
              <div class="col-md-4 mb-3">
                <p class="mb-1"><span class="fw-bold">Document Type</span>: {{wastePicker.documentType}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-12 mt-3">
                <button class="btn btn-outline-primary float-end">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
