<div class="mt-4" *ngIf="addWastePickerForm" [formGroup]="addWastePickerForm">
    <div>
        <h4 class="mb-4">Collection section</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div formGroupName="collectionDetailsForm">
                <div class="row">                    
                        <div class="form-group">
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Worksite</mat-label>
                                <mat-select formControlName="workSite" aria-label="Select worksite">
                                    <mat-option disabled selected>Please select worksite</mat-option>
                                    <mat-option *ngFor="let worksite of workSites" [value]="worksite.id">{{ worksite.name }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div> 
                        <div class="form-group">
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Payment Type</mat-label>
                                <mat-select formControlName="paymentType" aria-label="Select Payment Type">
                                    <mat-option disabled selected>Please select payment type</mat-option>
                                    <mat-option *ngFor="let paymentType of paymentTypes" [value]="paymentType.id">{{ paymentType.name }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                   </div>                
                    <div class="form-group">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Sorting Area</mat-label>
                            <mat-select formControlName="sortingArea" aria-label="Select Sorting Area">
                                <mat-option disabled selected>Please select sorting area</mat-option>
                                <mat-option *ngFor="let sortingArea of sortingAreas" [value]="sortingArea.id">{{ sortingArea.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
            </div>
        </div> 
        <div class="col-md-6">
        <div formGroupName="collectionDetailsForm">
            <div class="row">
                <div class="form-group">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Municipality</mat-label>
                        <mat-select formControlName="municipality" aria-label="Please select municipality">
                            <mat-option disabled selected>Please select municipality</mat-option>
                            <mat-option *ngFor="let municipality of municipalities" [value]="municipality.id">{{ municipality.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>District</mat-label>
                            <input matInput formControlName="district" readonly>
                        </mat-form-field>                        
                </div>
                <div class="form-group">
                    <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Province</mat-label>
                            <input matInput formControlName="province" readonly>
                    </mat-form-field>
                </div>
            </div>
        </div>
        </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Address</mat-label>
                                <textarea matInput formControlName="address" rows="3"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
    </div>
</div>
            
        


<div class="d-flex justify-content-between flex-row my-3">
    <button mat-raised-button color="accent" cdkStepperPrevious>
        <mat-icon>keyboard_arrow_left</mat-icon> Back to personal
    </button>
    <button mat-raised-button color="primary" cdkStepperNext>
        Go to documents <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
</div>
