.mat-sidenav-container {
  height: calc(100vh - 80px); /* Adjusted height to account for navbar height */
}

.mat-sidenav {
  width: 200px; /* Set width for the sidebar */
  background-color: hsl(207, 77%, 88%); /* Set background color */
  position: fixed;
  top: 80px; /* Adjusted top position to avoid overlapping with navbar */
  left: 0;
  display: flex;
  flex-direction: column; /* Ensure items are stacked vertically */
  padding-bottom: 20px; /* Add padding to the bottom */
}

.mat-list-item {
  cursor: pointer; /* Change cursor to pointer for list items */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #fff !important;
  
}

.mat-list-item.active {
  background-color: #ccc; /* Set background color for active item */
}

.mat-sidenav-content {
  padding-top: 64px; /* Adjust as needed based on your navbar height */
  z-index: 1; /* Ensure the content is above the navbar */
}

.btn {
  display: block;
  margin: 20px auto; /* Center the button horizontally within its container */
  padding: 8px 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  width: 180px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;

  /* Hover effect */
  &:hover {
    background-color: #007bff;
  }
}


