<div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="20px"></div>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
     
        <button *ngIf="showWastePickerButton" class="btn" 
            routerLink="/registrar/waste-picker/add-waste-picker" 
            routerLinkActive="active">
            <i class="material-icons align-middle">add_circle</i> Waste Picker        
        </button>
     
        <button *ngIf="showCooperateButton" class="btn" 
            routerLinkActive="active" 
            routerLink="/registrar/cooperate">
            <i class="material-icons align-middle">add_circle</i> Cooperate Member
        </button> 
        <button *ngIf="showVerifierButton" class="btn" 
            routerLinkActive="active" 
            routerLink="/verifier/main">
            <i class="fa fa-list align-middle" aria-hidden="true"></i> Verifier-List
        </button>
        <button *ngIf="showVerifierEditButton" class="btn" 
                routerLinkActive="active" 
                routerLink="/verifier/main">
              <i class="fa fa-pencil-square-o align-middle" aria-hidden="true"></i> Verifier-Edit
        </button> 
      
      
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content class="sidenav-content">
    <app-main-window></app-main-window>
  </mat-sidenav-content>
</mat-sidenav-container>




