<div class="mt-4" *ngIf="addWastePickerForm" [formGroup]="addWastePickerForm">
    <div class="d-flex justify-content-between align-items-center">
        <h6 class="mb-4">Personal details</h6>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div formGroupName="personalDetailsForm">
                <div class="form-group">
                    <app-text-input [label]="'First name'" formControlName="firstName"></app-text-input>
                </div>
                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input type="date" class="form-control" formControlName="dob">
                </div>
                <div class="form-group mb-3">
                    <label for="gender">Gender</label>
                    <select class="form-control" formControlName="gender">
                        <option value="" disabled selected>Please select gender</option>
                        <option *ngFor="let gender of genders" [value]="gender.id">{{ gender.name }}</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="documentType">Document Type</label>
                    <select class="form-control" formControlName="documentType">
                        <option value="" disabled selected>Please select document type</option>
                        <option *ngFor="let documentType of documentTypes" [value]="documentType.id">{{ documentType.docType }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <app-text-input [label]="'Cell phone number'" formControlName="cellphoneNo"></app-text-input>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div formGroupName="personalDetailsForm">
                <div class="form-group">
                    <app-text-input [label]="'Last name'" formControlName="lastName"></app-text-input>
                </div>
                <div class="form-group">
                    <label for="age">Age (Auto-calculated)</label>
                    <input type="text" class="form-control" formControlName="age" readonly>
                </div>
                <div class="form-group mb-3">
                    <label for="race">Race</label>
                    <select class="form-control" formControlName="race" placeholder="select race">
                        <option value="" disabled selected>Please select race</option>
                        <option *ngFor="let race of races" [value]="race.id">{{ race.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <app-text-input [label]="'Identity Number'" formControlName="identityNumber"></app-text-input>
                </div>
                <div class="form-group">
                    <app-text-input [label]="'Alternative phone number'" formControlName="altCellphoneNo"></app-text-input>
                </div>
            </div>
        </div>
    </div>
</div>
