.logo {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

.track {
  font-family: 'Arial', sans-serif;
    color: #e74c3c; /* Different color for "TRACK" */
    font-weight: normal; /* Adjust font weight if needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
  color: #343a40;

  &.active {
    color: orange;
  }
}

.logo {
  cursor: pointer;
}