.logo {
  font-size: 20px;
  color: #4CAF50; /* Green color for emphasis */
  text-decoration: none;
}

.logo i {
  margin-right: 5px; /* Add some spacing between text and icon */
}

.track {
  font-weight: bold;
  color: #3498db; /* Blue color for the "TRACK" span */
}

.track:hover {
  text-decoration: underline; /* Add underline on hover for emphasis */
}

a {
  text-decoration: none;
  color: #343a40;
  font-size: 16px;

  &:hover {
    color: #007bff; // Change to desired hover color
    cursor: pointer;
  }

  &.active {
    color: orange; // Active color
  }
}




