<header class="d-flex flex-row align-items-center justify-content-between p-3 px-4 bg-white border-bottom sticky-top shadow-sm">
  <a class="navbar-brand logo" href="#">
    WASTE<i class="fa fa-recycle" aria-hidden="true"></i> <span class="track" routerLink="/home">TRACK</span>
  </a>

  <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <a class="p-2" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSideCollapse" aria-controls="navbarSideCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSideCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="registerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Register</a>
            <ul class="dropdown-menu" aria-labelledby="registerDropdown">
              <li class="dropend"><a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"><i class="material-icons align-middle">person_add</i> Registrar</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="/registrar/waste-picker"><i class="material-icons align-middle">autorenew</i> Waste Picker</a></li>
                  <li><a class="dropdown-item" routerLink="/registrar/cooperate"><i class="material-icons align-middle">business</i> Cooperative</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item" routerLink="/verifier"><i class="material-icons align-middle">how_to_reg</i> Verifier</a></li>
              <li><a class="dropdown-item" href="#"><i class="material-icons align-middle">credit_card</i> Card Issuer</a></li>
              <li><a class="dropdown-item" href="#"><i class="material-icons align-middle">admin_panel_settings</i> User Administrator</a></li>
            </ul>
          </li>
        </ul>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="configDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Config</a>
            <ul class="dropdown-menu" aria-labelledby="configDropdown">
              <li><a class="dropdown-item" href="#"><i class="material-icons align-middle">supervisor_account</i> User</a></li>
              <li><a class="dropdown-item" routerLink="/municipality"><i class="material-icons align-middle">location_city</i> Municipality</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="btn-group">
        <a class="p-2" routerLink="/report2" routerLinkActive="active">Reports</a>
      </div>
    </div>
  </nav>

  <div class="d-flex align-items-center">
    <a class="btn btn-outline-secondary me-2">Login</a>
    <a class="btn btn-outline-success me-3">Logout</a>
  </div>
</header>
