.logo {
    font-size: 20px;
    color: #4CAF50; /* Green color for emphasis */
    text-decoration: none;
  }
  
  .logo i {
    margin-right: 5px; /* Add some spacing between text and icon */
  }
  
  .track {
    font-weight: bold;
    color: #3498db; /* Blue color for the "TRACK" span */
  }
  
  .track:hover {
    text-decoration: underline; /* Add underline on hover for emphasis */
  }
  
  a {
    text-decoration: none;
    color: #343a40;
    font-size: 16px;
  
    &:hover {      
      cursor: pointer;
    }
  
    &.active {
      color: orange; // Active color
    }
  }

  .dropdown .dropdown-menu {
    display: none;
  }

  .dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu  {
    display: block;
    margin-top: .125em;
    margin-left: .125em;
  } 

  .dropdown-item:hover{
    background-color: #3498db;
    color: #fff;
  }
  
  @media screen and (min-width:769px) {
    .dropend:hover > .dropdown-menu {
      position: absolute;
      top: 0;
      left: 100%;
      margin-left: .125em;
    }
    
  }