<!--<div class="mt-4" *ngIf="addWastePickerForm" [formGroup]="addWastePickerForm">
    <div class="d-flex justify-content-between align-items-center">
        <h4>Contact details</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div formGroupName="contactDetailsForm">
                <div class="form-group">
                    <app-text-input [label]="'Cellphone Number'" formControlName="cellphoneNo"></app-text-input>
                </div>
                <div class="form-group">
                    <app-text-input [label]="'Altenative Cellphone Number'" formControlName="altCellphoneNo"></app-text-input>
                </div>
                <div class="form-group">
                    <app-text-input [label]="'RegistrationLocation'" formControlName="registrationLocation"></app-text-input>
                </div>                
            </div>
        </div>        
    </div>
</div>-->

